<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h3 class="card-title text-uppercase text-muted mb-0">Hottest Paper Keyword </h5>
                  <% for(var i = 0; i < 5; i++) { %>
                    <h4 class="h2 font-weight-bold mb-0"><%= data[0]["1st_keyword"].split(" ")[i] %></h6>
                  <% } %>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <h4 class="text-danger mr-2"><i class="ni ni-air-baloon"></i> Title</span>
                <h5 class="text-sm"><%= data[0]["title"]%></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h3 class="card-title text-uppercase text-muted mb-0">Most Viewed Paper Keyword</h5>
                  <% for(var i = 0; i < 5; i++) { %>
                    <h4 class="h2 font-weight-bold mb-0"><%= data[1]["1st_keyword"].split(" ")[i] %></h6>
                  <% } %>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <h4 class="text-warning mr-2"><i class="ni ni-air-baloon"></i> Title</span>
                <h5 class="text-sm"><%= data[1]["title"]%></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h3 class="card-title text-uppercase text-muted mb-0">Most Viewed Paper Keyword</h5>
                  <% for(var i = 0; i < 5; i++) { %>
                    <h4 class="h2 font-weight-bold mb-0"><%= data[2]["1st_keyword"].split(" ")[i] %></h6>
                  <% } %>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <h4 class="text-yellow mr-2"><i class="ni ni-air-baloon"></i> Title</span>
                <h5 class="text-sm"><%= data[2]["title"]%></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




  <!-- <div class="col">
    <h3 class="card-title text-uppercase text-muted mb-1">top N uni-grams</h5>
    <% for(var i = 0; i < 5; i++) { %>
    <h6 class="h2 font-weight-bold mb-0"><%= data[i].year %></h6>
    <% } %>
  </div> -->
